# confidential data
.Rdata
/data/*
/figure-latex/*
/analysis/*
/excluded data
*.pdf
*.html

# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/